.main-div {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    & .tittle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
        font-weight: 550;
        color: #006874;
        width: 100%;
        height: 120px;
        margin-top: 20px;
    }
    & .text-box {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        background-color: #161616;
        height: 130px;
        border-radius: 5px;
        & .text {
            display: flex;
            color: #ffffff;
            font-size: 1.2em;
            font-weight: 500;
            align-items: center;
            justify-content: start;
            width: 90%;
            height: 50px;
            & .icon {
                width: 30px;
                height: 30px;
                fill: #38e6f6;
            }
        }
    }
    & .tree-box-div {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        & .box {
            display: flex;
            height: 140px;
            width: 25%;
            background-color: #161616;
            border-radius: 10px;
            & .box-left {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 100%;
                & .box-icon {
                    width: 60px;
                    height: 60px;
                    fill: #006a75;
                }
            }
            & .box-right {
                display: flex;
                flex-direction: column;
                width: 70%;
                height: 100%;
                justify-content: center;
                & .name-day {
                    color: #ffffff;
                    font-weight: 500;
                }
                & .name-tittle {
                    color: #38e6f6;
                    font-size: 1.8em;
                }
            }
        }
    }
    
}

@media (max-width: 480px) {
    .main-div {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #e0e0e0;
        & .tittle {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5em;
            text-align: center;
            font-weight: 550;
            color: #006874;
            width: 100%;
            height: 120px;
            margin-top: 20px;
        }
        & .text-box {
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            background-color: #161616;
            height: 60%;
            border-radius: 5px;
            & .text {
                display: flex;
                color: #ffffff;
                font-size: 1.2em;
                font-weight: 500;
                align-items: center;
                justify-content: start;
                width: 90%;
                height: 40%;
                & .icon {
                    width: 30px;
                    height: 30px;
                    fill: #38e6f6;
                }
            }
        }
        & .tree-box-div {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            & .box {
                display: flex;
                height: 140px;
                width: 90%;
                background-color: #161616;
                border-radius: 10px;
                & .box-left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    height: 100%;
                    & .box-icon {
                        width: 60px;
                        height: 60px;
                        fill: #006a75;
                    }
                }
                & .box-right {
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    height: 100%;
                    justify-content: center;
                    & .name-day {
                        color: #ffffff;
                        font-weight: 500;
                    }
                    & .name-tittle {
                        color: #38e6f6;
                        font-size: 1.8em;
                    }
                }
            }
        }
        
    }
}