.six-main-div {
    display: flex;
    justify-content: center;
    height: 110vh;
    width: 100%;
    background-color: #030b13;
    margin-top: 13em;
    & .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: 100%;
        background-color: #030b13;
        border-radius: 10px;
        & .check-logo {
            display: flex;
            width: 100%;
            height: 20%;
            /* border: 1px solid black; */
            justify-content: center;
        }
        & .logo-text {
            display: flex;
            width: 100%;
            height: 3%;
            /* border: 1px solid black; */
            justify-content: center;
            gap: 50px;
        }
        & .check-tittle {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 20%;
            font-size: 2em;
            color: #ffffffff;
            /* border: 1px solid black; */
            justify-content: center;
            align-items: center;
            white-space: pre-wrap;
            & p {
                display: flex;
                & .blue {
                    color: #32cbdb;
                }
            }
        }
        & .text-1 {
            display: flex;
            width: 100%;
            height: 20%;
            /* border: 1px solid black; */
            justify-content: center;
            align-items: center;
            font-size: 1.3em;
            text-align: center;
            & p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                color: #ffffffff;
            }
        }
        & .price {
            display: flex;
            width: 100%;
            /* border: 1px solid black; */
            justify-content: center;
            align-items: center;
            font-size: 6em;
            font-weight: 600;
            text-align: center;
            & p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                color: #ffffffff;
            }
        }
        & .view-link {
            display: flex;
            margin-top: 75px;
            background-color: #3ae7f7;
            border: 1px solid #3ae7f7;
            border-radius: 5px;
            width: 290px;
            height: 60px;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s ease-in-out;
            & a {
              text-decoration: none;
              color: black;
              font-size: 1.1em;
              font-weight: 500;
              text-transform: uppercase;
              transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;
              padding: 10px;
              width: 0 auto;
              height: 0 auto;
            }
          }
          & .view-link:hover {
            background-color: #8afcf6;
            border: 1px solid #58d4fc;
          }
          & .view-link:hover a {
            font-size: 1.2em;
          }
    }
}

@media (max-width: 480px) {
    .six-main-div {
        display: flex;
        justify-content: center;
        height: 70vh;
        width: 100%;
        background-color: #030b13;
        margin-top: 23em;
        & .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: #030b13;
            border-radius: 10px;
            & .check-logo {
                display: flex;
                width: 100px;
                height: 100px;
                /* border: 1px solid black; */
                justify-content: center;
            }
            & .logo-text {
                display: flex;
                width: 100%;
                height: 3%;
                /* border: 1px solid black; */
                justify-content: center;
                gap: 50px;
            }
            & .check-tittle {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 10%;
                font-size: 1.05em;
                color: #ffffffff;
                /* border: 1px solid black; */
                justify-content: center;
                align-items: center;
                white-space: pre-wrap;
                & p {
                    display: flex;
                    & .blue {
                        color: #32cbdb;
                    }
                }
            }
            & .text-1 {
                display: flex;
                width: 100%;
                height: 10%;
                /* border: 1px solid black; */
                justify-content: center;
                align-items: center;
                font-size: 1em;
                text-align: center;
                & p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    color: #ffffffff;
                }
            }
            & .price {
                display: flex;
                margin-top: 15px;
                width: 100%;
                /* border: 1px solid black; */
                justify-content: center;
                align-items: center;
                font-size: 4em;
                font-weight: 600;
                text-align: center;
                & p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    color: #ffffffff;
                }
            }
            & .view-link {
                display: flex;
                margin-top: 75px;
                background-color: #3ae7f7;
                border: 1px solid #3ae7f7;
                border-radius: 5px;
                width: 290px;
                height: 60px;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s ease-in-out;
                & a {
                  text-decoration: none;
                  color: black;
                  font-size: 1.1em;
                  font-weight: 500;
                  text-transform: uppercase;
                  transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;
                  padding: 10px;
                  width: 0 auto;
                  height: 0 auto;
                }
              }
              & .view-link:hover {
                background-color: #8afcf6;
                border: 1px solid #58d4fc;
              }
              & .view-link:hover a {
                font-size: 1.2em;
              }
        }
    }
}

@media (max-width: 821px) {
    .six-main-div {
        display: flex;
        justify-content: center;
        height: 110vh;
        width: 100%;
        background-color: #030b13;
        margin-top: 110em;
        & .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
            height: 100%;
            background-color: #030b13;
            border-radius: 10px;
            & .check-logo {
                display: flex;
                width: 100%;
                height: 20%;
                /* border: 1px solid black; */
                justify-content: center;
            }
            & .logo-text {
                display: flex;
                width: 100%;
                height: 3%;
                /* border: 1px solid black; */
                justify-content: center;
                gap: 50px;
            }
            & .check-tittle {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 20%;
                font-size: 2em;
                color: #ffffffff;
                /* border: 1px solid black; */
                justify-content: center;
                align-items: center;
                white-space: pre-wrap;
                & p {
                    display: flex;
                    & .blue {
                        color: #32cbdb;
                    }
                }
            }
            & .text-1 {
                display: flex;
                width: 100%;
                height: 20%;
                /* border: 1px solid black; */
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                text-align: center;
                & p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    color: #ffffffff;
                }
            }
            & .price {
                display: flex;
                width: 100%;
                /* border: 1px solid black; */
                justify-content: center;
                align-items: center;
                font-size: 6em;
                font-weight: 600;
                text-align: center;
                & p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    color: #ffffffff;
                }
            }
            & .view-link {
                display: flex;
                margin-top: 75px;
                background-color: #3ae7f7;
                border: 1px solid #3ae7f7;
                border-radius: 5px;
                width: 290px;
                height: 60px;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s ease-in-out;
                & a {
                  text-decoration: none;
                  color: black;
                  font-size: 1.1em;
                  font-weight: 500;
                  text-transform: uppercase;
                  transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;
                  padding: 10px;
                  width: 0 auto;
                  height: 0 auto;
                }
              }
              & .view-link:hover {
                background-color: #8afcf6;
                border: 1px solid #58d4fc;
              }
              & .view-link:hover a {
                font-size: 1.2em;
              }
        }
    }
    
}