* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #030b13;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #38e6f6; 
}

::-webkit-scrollbar-thumb:hover {
  background: #38e6f6; 
}
